@import url("https://fonts.googleapis.com/css2?family=Lato&family=Unbounded:wght@200;700&display=swap");

.main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(231, 231, 231);
  color: rgb(8, 8, 8);
  padding: 20px; /* para não grudar na borda em telas pequenas */
}

.main-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 900px; /* limite de largura */
  padding: 20px;
  border-radius: 10px;
  background-color: rgb(255, 254, 254);
  gap: 20px; /* espaçamento entre sections */
  flex-wrap: wrap; /* permite quebrar em telas pequenas */
}

.main-content section {
  flex: 1 1 300px; /* ocupa pelo menos 300px, cresce se tiver espaço */
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-content img {
  max-width: 100%;
  height: auto;
}
